* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 80%;
    background-color: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 8px 16px;
    border-radius: 8px;
}

nav div h1 {
    font-size: 26px;
    font-weight: 600;
}

nav div h1:hover{
    color: rgba(49, 49, 49, 0.902);
}

nav div a {
    font-size: 18px;
    text-decoration: none;
    color: #111;
    margin: 0 5px;
    font-weight: 500;
}

nav div a:hover {
    text-decoration: underline;
}

nav button {
    font-size: 18px;
    padding: 8px 14px;
    border: none;
    background-color: limegreen;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s all ease;
}

nav button:hover {
    background-color: lime;
}

main {
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 2px;
}

.main-left {
    width: 60%;
}

.main-left h2 {
    color: #fff;
    font-size: 70px;
}

.main-left h2 span {
    color: hotpink;
}

.main-left p {
    color: #d2d2d2;
    font-size: 22px;
    line-height: 1.4;
}

.main-left button {
    margin-top: 24px;
    font-size: 24px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    background-color: limegreen;
    cursor: pointer;
    transition: 0.3s all ease;
}

.main-left button:hover {
    background-color: lime;
}

.main-right {
    width: 40%;
}

.main-right img {
    width: 100%;
    border-radius: 8px;
}

#content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.card {
    background-color: #dad6d6;
    width: 300px;
    height: 360px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
}

.card img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: limegreen;
    font-size: 18px;
    font-weight: 600;
    margin-top: 3px;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background-color: lime;
}
